/* Navbar container */
.navbar {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar logo */
.navbar-logo {
  font-size: 2rem;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: #0a2b1e;
  font-weight: 600;
  text-decoration: none;
  margin-left: 4rem;
  margin-bottom: 25px;
}

/* Navigation items container */
.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 3rem;
}

/* Navigation item */
.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a {
  text-decoration: none;
  font-weight: 500;
  color: #243B55;
  font-size: 1.1rem;
  margin-right: 2rem;
  border-radius: 5px;
}

.nav-items a:hover {
  color: red;
}

.nav-items li a.active,
.nav-item a:active {
  color: red;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-logo {
    margin-bottom: 10px;
    text-align: center;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }

  .nav-items.active {
    display: flex;
  }

  .nav-items li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .dropdown {
    display: block;
  }
}
