
.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
  }
  
  .listSearch {
    flex: 1;
    background-color: #a5ddfd;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
  }
  
  .lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .lsItem>label{
    font-size: 12px;
  }
  
  .lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .lsItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .lsOptions{
    padding: 10px;
  }
  
  .lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
  }
  
  .lsOptionInput{
    width: 50px;
  }
  
  .listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
  }
  
  .listResult {
    flex: 3;
  }
  .emptyList-wrapS {
    display: flex;
    justify-content: center;
  }
  .emptyList-wrapS img {
    margin-top: 1rem;
    max-width:1100px;
    height: 600px;
    width: 100%;
  }
  .Uniheading{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;

  }
  .sidebuttton{
    background-color:white;
  }
  .sidebuttton a{
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    color: black;
  }

  .activeSection {
    background-color: #ff0000; /* Specify your desired background color */
    color: #ffffff; /* Specify the text color for better visibility */
  }