.input-wrapper {
  border: 1px solid #000;
    width: 50%;
    height: 4rem;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 6px #ddd;
    background-color: #dce1e8;
    display: flex;
    align-items: center;
    margin-top: 7.5rem;
    margin-left: 25%;
    
    
  }
  
  .input-wrapper input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 700px;
    margin-left: 5px;
    align-items: center;
  }
  
  input:focus {
    outline: none;
  }
  
  #search-icon {
    color: royalblue;
    margin-right: 1;
  }