.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
  }
  
  .nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 1.3rem;
  }
  
  .nav__item a {
    font-weight: 500;
    font-size: 1.1rem;
    color:  #243B55;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav__item a:hover {
    color:  #639bdb;
  }
  
  .nav__item a:active {
    color:  #234f7d;
  }
  .nav__right p {
    font-weight: 500;
    color:  #243B55;
    font-size: 1.1rem;
  }
  
  .nav__right p i {
    font-size: 1.3rem;
  }
  
  .mobile__menu span i {
    font-size: 1.4rem;
    color: #0a2b1e;
    cursor: pointer;
  }
  
  .mobile__menu {
    display: none;
  }
  /* Active Menu Item */
.nav__item a.active {
  color: blue;
}

/* Dropdown Menu */
.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  list-style: none;
}

.dropdown__item {
  margin-bottom: 10px;
}

.dropdown__item a {
  color: #333;
  text-decoration: none;
}

.dropdown__item a:hover {
  color: blue;
}
  
  
  
  @media only screen and (max-width: 991px) {
    .nav__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:  #243B55;
      z-index: 99;
      display: none;
    }
  
    .nav__list {
      position: absolute;
      background: #fff;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 999;
      padding-top: 80px;
    }
  
    .mobile__menu {
      display: block;
    }
    .nav__right {
      display: none;
    }
  
    .active__menu {
      display: block;
    }
  }