.common__section {
    background: linear-gradient(rgba(223, 167, 167, 0.6), rgba(231, 179, 179, 0.6)),
      url('../../assets/images/girl_student.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
  }
  .appoint__section .section__title{
    color:white;
    font-size: 20px;
    /* background-color: black; */
    
  }
  
  .appoint__section {
    background:
      url('../../assets/images/college-herosec.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
  }

  .career__section {
    background:
      url('../../assets/images/Explore.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 230px 0;
    height: 90px;
  }

  .uni__section {
    background:
      url('../../assets/images/unipage.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 200px 0;
      margin-top: 0;
      
  }